<div class="row">
    <div class="col-md-1" align="center">
        <button type="button" class="btn btn-info" (click)="showDetailsFun()">Show details</button>
    </div>
  <div class="col-md-7">
    <input type="text" class="form-control mb-3" placeholder="Type to filter the email column..." required (keyup)='updateFilter($event)'>
  </div>
  <div class="col-md-4">
      <button type="button" class="btn btn-info" (click)="exportExcel('en')">Export as Excel (english)</button>
      <button type="button" class="btn btn-info" (click)="exportExcel('he')">Export as Excel (hebrew)</button>
  </div>
</div>



<div class="buttonsBar" align="center">
    <button  *ngFor="let row of jurneysArray; let i = index" [ngClass]="[JurneyType == row.journey_id ? 'btn-success btn-md' : 'btn-primary btn-md']" (click)="ChangeJurneyType(row.journey_id)"> {{row.title}}</button>
</div>


<div class="table-responsive" [style.width.px]="TableWidth" >
  <table class="table table hover" id="basic-usage" border="0"  dir="ltr">
    <tbody>

        <tr *ngFor="let row of rows let i=index"  [hidden]="!row.count" class="trTable" >

            <div class="divRow" [style.width.px]="TableWidth">
                <td>
                    <button type="button" class="btn btn-info" (click)="DeleteJourney(row,i)">Delete</button>
                </td>
           <td *ngIf="showDetails == 1" (click)="showRow(row,i)" style="min-width:80px;">{{row.created_at}}</td>
            <td *ngIf="showDetails == 1" (click)="showRow(row,i)" style="min-width:80px;  ">{{row.user_data.email}}</td>
            <td *ngIf="showDetails == 1" (click)="showRow(row,i)" style="min-width:80px; ">{{row.user_data.name}}</td>
            <!--<td (click)="showRow(row)">{{row.user_data.created_at}}</td>-->

            <td style="min-width:100px;" *ngFor="let item of row.touchpoints let g=index" >
                <div style="font-weight: bold; font-size: 16px;">{{item.title}}</div>
                <div *ngIf="!row.isHidden" >
                    <div *ngFor="let media of item.media">


                        <div *ngIf="media.type == 'image'">
                            <button type="button" class="btn btn-clear mb-1" (click)="openImageModal(content, media)">
                                <img [src]="media.fullUrl" width="90">
                            </button>
                            <hr style="margin-top:0px;">
                        </div>
                        <div *ngIf="media.type == 'audio'">
                            <div class="mb-1"><audio [src]="media.fullUrl" controls style="width: 250px"></audio></div>
                            <hr style="margin-top:0px;">
                        </div>
                        <div *ngIf="media.type == 'video'">

                            <div *ngIf="getUrlLenth(media.fullUrl) == 0" class="mb-1"><video [src]="media.fullUrl" controls height="100"></video></div>

                            <a  *ngIf="getUrlLenth(media.fullUrl) == 1" href="{{media.fullUrl}}">
                                <button type="button" class="btn btn-info" (click)="exportExcel('en')">3gp video</button>
                            </a>


                            <!--<vg-player>-->
                                <!--<video  preload="auto" controls>-->
                                    <!--<source src="http://whiteboard.kartisim.co.il/media/video_touchpoint_91_1533565211.3gp" type="video/3gp">-->
                                <!--</video>-->
                            <!--</vg-player>-->
                            <hr style="margin-top:0px;">


                        </div>
                        <!--<div *ngIf="media.type == 'text'">-->
                            <!--<div>{{media.content}}</div>-->
                        <!--</div>-->
                    </div>

                  <div *ngFor="let text of item.texts">
                    <div *ngIf="text.type == 'text'">
                      <div>{{text.content}}</div>
                        <hr style="margin-top:0px;">
                    </div>
                  </div>

                <div *ngIf="item.mark">
                    Rate : {{item.mark}}/5 Stars
                    <hr style="margin-top:0px;">
                </div>

                    <div *ngIf="item.mark">
                        Started : {{item.created_at}}
                    </div>
                </div>

            </td>
                <td class="lastTd"></td>
            </div>
            <hr style="margin-top:0px;">
        </tr>


    <!--<tr *ngFor="let row of rows"  [hidden]="!row.count" style="min-width:100% !important;" >-->
      <!--<td (click)="showRow(row)">{{row.user_data.email}}</td>-->
      <!--<td (click)="showRow(row)">{{row.user_data.name}}</td>-->
      <!--&lt;!&ndash;<td (click)="showRow(row)">{{row.user_data.created_at}}</td>&ndash;&gt;-->

      <!--<td *ngFor="let item of row.touchpoint.content">-->
        <!--{{row.touchpoint.title}}-->
        <!--<div *ngIf="!row.isHidden" >-->
          <!--<div *ngFor="let media of row.touchpoint.content">-->
            <!--<div *ngIf="media.type == 'image'">-->
              <!--<button type="button" class="btn btn-clear mb-1" (click)="openImageModal(content, media)">-->
                <!--<img [src]="media.fullUrl" width="90">-->
              <!--</button>-->
            <!--</div>-->
            <!--<div *ngIf="media.type == 'audio'">-->
              <!--<div class="mb-1"><audio [src]="media.fullUrl" controls style="width: 250px"></audio></div>-->
            <!--</div>-->
            <!--<div *ngIf="media.type == 'video'">-->
              <!--<div class="mb-1"><video [src]="media.fullUrl" controls height="100"></video></div>-->
            <!--</div>-->
            <!--<div *ngIf="media.type == 'text'">-->
              <!--<div>{{media.content}}</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</td>-->

    <!--</tr>-->



    </tbody>
  </table>
</div>





<ng-template #content let-c="close">
  <div class="modal-body">
    <div><img [src]="selectedImage.fullUrl" style="width: 100%;"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
  </div>
</ng-template>
