body
{
    overflow: scroll;
}
.buttonsBar
{
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}

.buttonsBarLeft
{
    width: 40%;
    float: left;
    margin-left: 5%;
}

.buttonsBarRight
{
    width: 40%;
    float: right;
    margin-right: 5%;
}

.buttonsBarButton
{
    width: 100%;
    background-color:#6fb43f;
}

.table-responsive
{
    /*overflow-x: scroll;*/
}

.trTable
{
    width:200px !important;
    overflow-x: scroll;
}

td
{
    border: none;
}

tr
{
    min-width: 100%;
    overflow-x: scroll;
}
.divRow
{
    border-bottom:1px solid #cccccc;
    overflow-x: scroll;
}

.lastTd
{
    width: 600px;
    height: 30px;
}

tbody
{
width: 200px !important;
}