.wide-input {
    width: 100% !important;
    border: 1px solid grey;
}

.main-div {
    padding: 5px 15px 15px 15px;
    background-color: white;
}

.company-media {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.company-media img {
    width: 30%;
    border: 1px solid grey;
}