<div class="row">
  <div class="col-md-10">
    <input type="text" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-info" (click)="openCreateModal(addItem)">New User</button>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="Email">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.email}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="!editMode || editRow.id !== row.id">{{row.name}}</strong>
      <input *ngIf="editMode && editRow.id === row.id" type="text" [(ngModel)]="fieldsToEdit.name">
    </ng-template>
  </ngx-datatable-column>



  <ngx-datatable-column name="Phone">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="!editMode || editRow.id !== row.id">{{row.phone}}</strong>
      <input *ngIf="editMode && editRow.id === row.id" type="text" [(ngModel)]="fieldsToEdit.phone">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Options" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" *ngIf="!editMode || editRow.id !== row.id" [disabled]="editMode" class="btn btn-info" [routerLink]="['/users/' + row.id + '/journeys']">Journeys</button>
      <button type="button" *ngIf="!editMode || editRow.id !== row.id" [disabled]="editMode" class="btn btn-warning" (click)="switchToEditMode(row)">Edit</button>
      <button type="button" *ngIf="!editMode || editRow.id !== row.id" [disabled]="editMode" class="btn btn-danger" (click)="openDeleteModal(content, row)">Delete</button>
      <button type="button" *ngIf="editMode && editRow.id === row.id" class="btn btn-info" (click)="editItem(row)">Save</button>
      <button type="button" *ngIf="editMode && editRow.id === row.id" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete point</h6>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Are you sure that you want to delete this user? It will delete all content that is connected to this user in all journeys.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    <button type="button" class="btn btn-primary" (click)="deleteItem()">Delete</button>
  </div>
</ng-template>


<ng-template ngbModalContainer></ng-template>
<ng-template #addItem let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">New user</h6>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" novalidate [formGroup]="form">
        <div class="form-group">
          <input class="form-control" type="text" formControlName="name" placeholder="Name">
        </div>
      <div class="form-group">
        <input class="form-control" type="email" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="tel" formControlName="phone" placeholder="Phone">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    <button type="button" class="btn btn-info" type="submit" [disabled]="form.invalid" (click)="createItem()">Save</button>
  </div>
</ng-template>