<div class="row">
    <!--
    <div class="col-md-12">
        <input type="text" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
    -->
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="Title" [maxWidth]="150" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.title}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Videos" [maxWidth]="100" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.videos}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Audios" [maxWidth]="100" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.audios}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Images" [maxWidth]="100" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.images}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Texts" [maxWidth]="100" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.texts}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Texts" [sortable]="true" [resizeable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <!--<div *ngFor="let period of row.journey_periods; let i = index">-->
                <!--{{period.started_at}} - {{period.finished_at}}-->
                <!--<hr *ngIf="i != (row.journey_periods.length - 1)">-->
            <!--</div>-->
            <div>
                {{row.journey_periods[0].started_at}} - {{row.journey_periods[0].finished_at}}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-info" [routerLink]="['/users/' + user.id + '/journeys/' + row.id]">Details</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>