<div class="row">
  <div class="col-md-10">
    <input type="text" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-info" [routerLink]="['/journeys/create']">New Journey</button>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="Image" [maxWidth]="70">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <img [src]="row.image" *ngIf="row.image" height="50">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="English title" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.title_en}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Hebrew title" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.title_he}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Points">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <angular2-multiselect [data]="points"
                            *ngIf="points"
                            [(ngModel)]="row.points"
                            [settings]="dropdownSettings">
      </angular2-multiselect>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Options" [sortable]="false" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" class="btn btn-warning" [routerLink]="['/journeys/edit/' + row.id]">Edit</button>
      <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">Delete</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete point</h6>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Are you sure that you want to delete this journey? It will delete all content that is connected to this journey in all journeys.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    <button type="button" class="btn btn-primary" (click)="deleteItem()">Delete</button>
  </div>
</ng-template>