<div class="row">
    <div class="col-md-7">
        <input type="text" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info" (click)="getExcel()">Get Excel Report</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-dark" (click)="goBack()">Back</button>
    </div>
</div>

<div class="row p-2" *ngIf="sent">
    <div class="col-md-12">
        <ngb-alert [dismissible]="false" style="width: 100%;" type="success">
            Successfully sent!
        </ngb-alert>
    </div>
</div>

<!--<div class="table-wrapper">-->

    <!--<ngx-datatable-->
            <!--[headerHeight]="40"-->
            <!--[footerHeight]="'falsey'"-->
            <!--[rowHeight]="'auto'"-->
            <!--[scrollbarH]="true"-->
            <!--[limit]="5"-->
            <!--[columnMode]="'standard'"-->
            <!--[selectionType]="'undefined'"-->
            <!--[rows]="rows">-->

        <!--&lt;!&ndash; Column Templates &ndash;&gt;-->

        <!--<ngx-datatable-column name="Title" [width]="150" [sortable]="true">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<strong *ngIf="row.touchpoint">{{row.touchpoint.title}}</strong>-->
                <!--<strong *ngIf="!row.touchpoint">Touchpoints list</strong>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Start-End" [width]="180" [cellClass]="'custom-row'" [sortable]="true">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div style="min-width: 180px;">{{row.started_at}} - {{row.finished_at}}</div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Durations" [maxWidth]="150" [sortable]="true">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div>{{row.duration}}</div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Address" [width]="180" [sortable]="true">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--{{row.address}}-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Videos" [width]="200" [sortable]="false">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div *ngIf="row.touchpoint">-->
                    <!--<div *ngFor="let video of row.videos">-->
                        <!--<div class="mb-1"><video [src]="video.fullUrl" controls height="100"></video></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div *ngIf="!row.touchpoint"> - </div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Images" [width]="200" [sortable]="false">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div *ngIf="row.touchpoint">-->
                    <!--<div *ngFor="let image of row.images">-->
                        <!--<button type="button" class="btn btn-clear mb-1" (click)="openImageModal(content, image)">-->
                            <!--<img [src]="image.fullUrl" width="90">-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div *ngIf="!row.touchpoint"> - </div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Records" [width]="260" [sortable]="false">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div *ngIf="row.touchpoint" class="pt-1">-->
                    <!--<div *ngFor="let audio of row.audios">-->
                        <!--<div class="mb-1"><audio [src]="audio.fullUrl" controls style="width: 250px"></audio></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div *ngIf="!row.touchpoint"> - </div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Notes" [width]="200" [sortable]="false">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div *ngIf="row.touchpoint">-->
                    <!--<div *ngFor="let text of row.texts; let i = index">-->
                        <!--<div>{{text.content}}</div>-->
                        <!--<hr *ngIf="i != (row.touchpoint.texts.length - 1)">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div *ngIf="!row.touchpoint"> - </div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

        <!--<ngx-datatable-column name="Mark" [width]="100">-->
            <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                <!--<div *ngIf="row.touchpoint">{{row.touchpoint.mark}}</div>-->
                <!--<div *ngIf="!row.touchpoint"> - </div>-->
            <!--</ng-template>-->
        <!--</ngx-datatable-column>-->

    <!--</ngx-datatable>-->

<!--</div>-->

<div style="width: 100%; margin-top:10px;">
    <div class="table-responsive" style="overflow-y: hidden">
        <table class="table mb-0 table-striped table-sm">
            <thead>
            <tr>
                <th>
                    <button (click)="sortBy('title')" class="btn btn-sm btn-light">Title</button>
                </th>
                <th>
                    <button (click)="sortBy('started_at')" class="btn btn-sm btn-light">Start</button>
                </th>
                <th>
                    <button (click)="sortBy('finished_at')" class="btn btn-sm btn-light">End</button>
                </th>
                <th>
                    <button (click)="sortBy('duration')" class="btn btn-sm btn-light">Duration</button>
                </th>
                <th>
                    <button (click)="sortBy('address')" class="btn btn-sm btn-light">Address</button>
                </th>
                <th>
                    Videos
                </th>
                <th>
                    Images
                </th>
                <th>
                    Audios
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Mark
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows" [hidden]="row.title == 'Touchpoints list'" >
                <th class="width180">
                    {{row.title}}
                </th>
                <th class="width180">
                    {{row.started_at}}
                </th>
                <th class="width180">
                    {{row.finished_at}}
                </th>
                <th class="width100">
                    {{row.formattedDuration}}
                </th>
                <th class="width200">
                    {{row.address}}
                </th>
                <th class="width200">
                    <div *ngIf="row.touchpoint">
                        <div *ngFor="let video of row.videos">
                            <div class="mb-1"><video [src]="video.fullUrl" controls height="100"></video></div>
                        </div>
                    </div>
                    <div *ngIf="!row.touchpoint"> - </div>
                </th>
                <th class="width200">
                    <div *ngIf="row.touchpoint">
                        <div *ngFor="let image of row.images">
                            <button type="button" class="btn btn-clear mb-1" (click)="openImageModal(content, image)">
                                <img [src]="image.fullUrl" width="90">
                            </button>
                        </div>
                    </div>
                    <div *ngIf="!row.touchpoint"> - </div>
                </th>
                <th class="width260">
                    <div *ngIf="row.touchpoint" class="pt-1">
                        <div *ngFor="let audio of row.audios">
                            <div class="mb-1"><audio [src]="audio.fullUrl" controls style="width: 250px"></audio></div>
                        </div>
                    </div>
                    <div *ngIf="!row.touchpoint"> - </div>
                </th>
                <th class="width200">
                    <div *ngIf="row.touchpoint">
                        <div *ngFor="let text of row.texts; let i = index">
                            <div>{{text.content}}</div>
                            <hr *ngIf="i != (row.touchpoint.texts.length - 1)">
                        </div>
                    </div>
                    <div *ngIf="!row.touchpoint"> - </div>
                </th>
                <th class="width100">
                    <div *ngIf="row.touchpoint">{{row.touchpoint.mark}}</div>
                    <div *ngIf="!row.touchpoint"> - </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-c="close">
    <div class="modal-body">
        <div><img [src]="selectedImage.fullUrl" style="width: 100%;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    </div>
</ng-template>
